<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Recetas</title>
</head>
<body>

    <div id="appReceta" >
        <h1>Mi libro de Recetas</h1>

        <div style="width: 50%; float: left;">
            <h3>Seleccione una receta</h3>
            <p>
                <input 
                  type="text"
                  placeholder="Buscar..."
                  v-model ="buscar">
            </p>

                    <ul>
                        <li 
                        v-for="receta in lista_receta_filtrada"
                        :key="receta.id">
                            <a 
                            href="#" 
                            @click="SeleccionarReceta(receta)">
                            {{ receta.nombre }}
                        </a>
                        </li>
                    </ul>

            <button @click="show_add_receta = !show_add_receta">
                Agregar Nueva Receta
            </button>

            <div v-show="show_add_receta">
            <p>
                <input 
                  type="text"
                  placeholder="id..."
                  v-model="new_receta.id">
            </p>
            <p>
                <input 
                  type="text"
                  placeholder="Nombre de la receta..."
                  v-model="new_receta.nombre">
            </p>
            <p>
                <textarea 
                cols="30"
                rows="10"
                placeholder="Descripcion..."
                v-model="new_receta.descripcion">
                </textarea>
            </p>

            <p>
                <input 
                  type="text"
                  placeholder="Chef..."
                  v-model="new_receta.chef">
            </p>

            <p>
                <input 
                  type="text"
                  placeholder="Agregar Ingrediente..."
                  v-model="nuevo_ingrediente"
                  @keyup.enter="AgregarIngrediente()">
            </p>

            <ul>
                <li 
                    v-For= "ingrediente in new_receta.ingredientes"
                    :key="ingrediente.id">
                    {{ingrediente.nombre}}
                    
                </li>
            </ul>
            <p>
                <button @click="AgregarReceta()">Guardar</button>
            </p>
            </div>
        </div>


        <div 
            style="width: 50%; float: right;"
            v-if="receta_seleccionada">
            <h3>{{ receta_seleccionada.nombre }}</h3>
            <h4>{{ receta_seleccionada.chef }}</h4>
            <h4>Ingredientes:</h4>
            <ul>
                <li v-for="ingrediente in receta_seleccionada.ingredientes">{{ ingrediente.nombre }}</li>
            </ul>
            <p style="background-color: cadetblue;">
                {{ receta_seleccionada.descripcion}}
            </p>
            <p>
                <button @click="EliminarReceta()">Eliminar</button>
            </p>
        </div>

    </div>

    <p>   </p>
    
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="recetas.js"></script>
</body>
</html>