<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Recetas</title>
</head>
<body>

    <div id="appReceta" >
        <h1>Mi libro de Recetas</h1>

        <div style="width: 50%; float: left;">
            <h3>Seleccione una receta</h3>
            <p>
                <input 
                  type="text"
                  placeholder="buscar..."
                  v-mode ="search">
            </p>

                    <ul>
                        <li v-for="n in 10">
                            <a href="#">Asado</a>
                        </li>
                    </ul>

            <button @click="show_add_receta = !show_add_receta">
                Agregar Nueva Receta
            </button>

            <div v-show="show_add_receta">
            <p>
                <input 
                  type="text"
                  placeholder="id..."
                  v-model="new_receta.id">
            </p>
            <p>
                <input 
                  type="text"
                  placeholder="Nombre de la receta..."
                  v-model="new_receta.nombre">
            </p>
            <p>
                <textarea 
                cols="30"
                rows="10"
                placeholder="Descripcion..."
                v-model="new_receta.descripcion">
                </textarea>
            </p>

            <p>
                <input 
                  type="text"
                  placeholder="Chef..."
                  v-model="new_receta.chef">
            </p>

            <p>
                <input 
                  type="text"
                  placeholder="Agregar Ingrediente..."
                  v-model="nuevo_ingrediente"
                  @keyup.enter="AgregarIngrediente()">
            </p>

            <ul>
                <li v-for="n in new_receta.ingredientes">
                    Agregar Ingrediente
                </li>
            </ul>

            </div>
        </div>


        <div style="width: 50%; float: right;">
            <h3>Titulo de la receta</h3>
            <h4>Chef de la Receta</h4>
            <h4>Ingredientes:</h4>
            <ul>
                <li v-for="n in 5">Ingrediente</li>
            </ul>
            <p style="background-color: cadetblue;">
                Descripcion de la Receta 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolores voluptatum sapiente ullam quia, 
            neque ducimus dolor numquam distinctio sint, quis velit inventore! Sit quasi accusantium dignissimos, odio facilis neque.
            </p>
        </div>

    </div>
    
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="recetas.js"></script>
</body>
</html>